$swatch-padding: 8px;

body {
    background-color:#CACFD6;
    height:100%;
}

.swatch {
	border-radius:5px;
}

	.swatch__top {
    	padding: $swatch-padding;
    	border-top-right-radius:5px;
    	border-top-left-radius:5px;

	}

	.swatch__bottom {
		background-color:#efefef; 
		padding: $swatch-padding;
		border-bottom-right-radius:5px;
    	border-bottom-left-radius:5px;
	}



//themes 

$themes: (
	'soft': (
        theme-color: #FFCCCC,
        text-color: #666A86,
        anchor-color: #666A86
    ),
    'light': (
        theme-color: #CACFD6,
        text-color: #666A86, 
        anchor-color: #666A86
    ),
    'dark': (
        theme-color: #666A86,
        text-color: #fff,
        anchor-color: #fff
    ),
    'plain': (
        theme-color: #fff,
        text-color: #666A86,
        anchor-color: #666A86
    )
);

@each $alias, $colors in $themes {
    $theme-color: map-get($colors, theme-color);
    $text-color: map-get($colors, text-color);
    $anchor-color: map-get($colors, anchor-color);
    .t-#{$alias} {
        
        color:$text-color;
        background-color:$theme-color;
        a {
            color: $anchor-color;
        }
    }
}


// ----------------------------------------------------------------------------
// Grid breakpoints
// ----------------------------------------------------------------------------
$im-on-this:#FFCCCC;
$im-on-this-text:#666A86;

 .im-on-x-large {
     @include xlarge {
         .swatch__top {
             background-color:$im-on-this;
             color:$im-on-this-text;
         }
     } 
 }

 .im-on-large {
     @include large {
         .swatch__top {
             background-color:$im-on-this;
             color:$im-on-this-text;
         }
     } 
}

.im-on-medium {
    @include medium {
        .swatch__top {
            background-color:$im-on-this;
            color:$im-on-this-text;
         }
     } 
}

 .im-on-smallish {
     @include smallish {
         .swatch__top {
             background-color:$im-on-this;
             color:$im-on-this-text;
         }
     } 
 }


.im-on-small {
    @include small {
        .swatch__top {
             background-color:$im-on-this;
             color:$im-on-this-text;
        }
    } 
}

 .im-on-x-small {
     @include xsmall {
         .swatch__top {
             background-color:$im-on-this;
             color:$im-on-this-text;
         }
     } 
}


.u-bold,
.u-bold-italic { font-weight:600; }
.u-normal { font-weight:400; }
.u-light { font-weight:300; }
.u-light-italic { font-weight:300; }

.u-bold-italic, 
.u-light-italic { font-style:italic;}



