<div class='[ wrapper ]'>
	<div class="t-plain " id='footer' role="contentinfo" >
	    <div class='[ gutters section ]'>
	        <div class='[ grid ]'>
	        	<p>
	        		Made with love by a FED <span style='color:#fcc'>&#10084;</span>
	        	</p>
	        </div>
	    </div>
	</div>
</div>