<div class='[ wrapper ] t-plain' id='header' role="contentinfo" >
	
    <div class='[ gutters section ]'>
        <div class='[ grid ]'>
        	
        	<div class='[ width-1/2 ]'>
	        	<p>
	        		Barebones
	        	</p>
	        </div>

        	<div class='[ width-1/2 ] u-text-right'>
			
					<% for(var key in styleguide) {%>
						
							<a class='nav-primary__link' href="#<%= styleguide[key].slug %>">
								<%= styleguide[key].title %>
							</a>
						
					<% } %>
			
			</div>
			
        </div>
    </div>

</div>